@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

#app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

body {
  font-family: Roboto, sans-serif;
  overflow: hidden;
}

#add-button {
  flex-grow: 1;
}

.button {
  background: #4d6a79;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 1.5em;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#buttons {
  display: flex;
}

#twitter-button {
  background-image: url(./twitter.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px;
  border-left: 2px solid white;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 65px;
}

#map {
  border: none;
  flex-grow: 1;
  width: 100%;
}
